[submodule "ixpe-bg"]
	path = ixpe-bg
	url = https://github.com/jack-dinsmore/ixpe-bg.git
[submodule "leakagelib"]
	path = leakagelib
	url = https://github.com/jtdinsmore/leakagelib.git
[submodule "IXPEML"]
	path = IXPEML
	url = git@github.com:jack-dinsmore/IXPEML.git
